.cells-divider {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  position: relative;
}
.cells-divider button {
  opacity: 0;
  transition: all 0.5s;
  margin: 0 10px;
}
.cells-divider.active button,
.cells-divider:hover button {
  opacity: 1;
}
.cells-divider::after {
  content: '';
  transition: all 0.5s;
  position: absolute;
  border-top: 1px solid #30363d;
  z-index: -1;
  width: calc(100% - 48px);
  left: 24px;
  top: 50%;
}
.cells-divider:hover::after {
  border-color: #c9d1d9 !important;
}
