.editor-wrapper {
  position: relative;
  width: calc(100% - 10px);
}

.editor-wrapper > button {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.editor-wrapper:hover > button {
  opacity: 1;
}
