.text-editor ul {
  list-style: initial;
}
.text-editor .w-md-editor-bar {
  bottom: -1px;
  background-color: #37414b;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 10px;
  width: 100%;
  cursor: row-resize;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.text-editor .w-md-editor-bar svg {
  display: none;
}
.text-editor .card {
  border: 0;
  border-radius: 0;
}
.text-editor .list {
  background-color: unset;
}
.text-editor .wmde-markdown pre code,
.wmde-markdown pre tt {
  padding: 0 !important;
}

.text-editor {
  position: relative;
}
.text-editor .cell-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  width: max-content;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
}
.text-editor:hover .cell-toolbar {
  opacity: 1;
}

.text-editor .cell-toolbar button {
  margin: 0 1px;
}
.text-editor.editing .cell-toolbar {
  display: none;
}
